
*{margin: 0; padding: 0; list-style: none; border: none;}

/********************* 面     包    屑********************/
.mianbaoxie{ background: #F5F5F5; }
.mianbaoxie .breadcrumb { width: 1100px; margin: 0 auto; }
.mianbaoxie .breadcrumb span{color: #357EBD;}
.mianbaoxie .breadcrumb span:hover{color:#555555;}


/**************************  详  细  信  息      *****************************/

.XQ{width: 100%; min-height: 610px;}
.XQ_box{width: 1100px; height: 610px; margin: 0 auto; margin-top: 20px;}

/*********** 左     (商    品    图    片)     ************/
.XQ .XQ_left{width: 410px; height: 410px; float: left;position: relative; }
.XQ_left_title{width: 60px;height: 60px;line-height: 60px;text-align: center;background: #A04EFC;color: #fff;position: absolute;left: 0;top: 0;}
.XQ .XQ_left .XQ_imgbox { width: 340px; height: 430px; margin-top: 10px; }
.XQ .XQ_left .XQ_imgbox  img{width: 320px; height: 415px; margin-left: 30px; border: 1px solid #ccc;}

/*********** 右 （商    品    信    息）  ***********/
.XQ .XQ_right{ width:650px; min-height: 564px;float: right; font-size: 16px;}
.XQ .XQ_right .s1{font-size: 14px; color: #9D9D9D;}
.XQ .XQ_right .r_1{ width: 650px; height: 50px; line-height: 50px; font-size: 14px; color: #9D9D9D;}
.XQ .XQ_right .r_1 a img{float: right; margin: 0 auto; margin-top: 10px; margin-right: 20px;} /*微信 新浪*/

/***** 价   格   盒    子****/
.XQ .XQ_right .price_box{width: 650px; height: 100px; background:#FFF9FD;}
.XQ .XQ_right  p{line-height: 30px;padding-left: 20px;}
.XQ .XQ_right .price_box p{line-height: 50px;}
.XQ .XQ_right .price_box .pbox_price{color: red;}/*价格*/
.XQ .XQ_right .price_box .manjian{background: orangered; color: #fff;}

/*****  套    装     ********/
.XQ .XQ_right .taozhuang{ width: 690px; height: 80px;padding-left: 20px;}
.XQ .XQ_right .taozhuang .taozhuang_title{margin-top: 20px;display: block;float: left;}
.XQ .XQ_right .taozhuang .tz_box { width: 60px; height: 60px; border: 1px solid #ccc; cursor: pointer;margin-left: 70px;}
.XQ .XQ_right .taozhuang .tz_box:hover a{color: deeppink;}
.XQ .XQ_right .taozhuang ul span{color: #333333; font-size: 14px; line-height: 30px;text-align: center;}


/*****  可    选    *****/
.XQ_right .kexuan{ width: 690px; height: 80px;padding-left: 20px;}
.XQ .XQ_right .kexuan .kexuan_title{margin-top: 20px;display: block;float: left;}
.XQ .XQ_right .kexuan .kx_box { width: 60px; height: 60px; border: 1px solid #ddd; cursor: pointer;margin-left: 70px;}


/*****  数    量    *******/
.xq_count_box{width:690px;height: 80px;}
.xq_count{width: 70px;height: 60px;margin-left: 80px;}
.xq_count_title{padding-left: 20px;margin-top: 20px;display: block;float: left;}
.xq_count #xq_count{width: 30px;height: 30px;margin-top: 15px;float: left;background: #ccc;}
.xq_count .xq_reduce{cursor: pointer;width:15px ;height: 30px;display: block;float: left;background: #ccc;margin-top: 15px;margin-right: 2px;color: #fff;}
.xq_count .xq_add{cursor: pointer;width:15px ;height: 30px;display: block;float: left;background: #ccc;margin-top: 15px;margin-left: 2px;color: #fff;}

/*****  评    分     ******/
.ping{width: 600px;height: 40px;line-height: 40px;}
.ping .ping_title{width: 60px;height: 40px;margin-left: 20px;float: left;}
.ping .ping_box{width: 80px;height: 18px;margin-top: 10px;float:left;background:url(../img/start.png) repeat-x;}
.ping span{display:block;float: left;margin-left: 15px;}

/****  加    入    购    物    车   （    按    钮    ）    ****/
.XQ_addcar{width: 650px;height: 62px;}
.XQ_addcar .addbuycaar{width: 237px; height: 62px;padding-top: 15px;text-align: center;color: #fff;background: deeppink;float: left;cursor: pointer;transition: 0.5s;}
.XQ_addcar .addbuycaar:hover{border: 1px solid red;transform: scale(0.9);-webkit-transform: scale(0.9);}
.XQ_addcar .shoucang{width: 110px;height: 60px;margin-left: 15px;float: left;cursor: pointer;transition: 0.5s;}
.XQ_addcar .shoucang:hover{transform: scale(0.9);-webkit-transform: scale(0.9);}

.XQ_baozheng{width: 447px;height: 27px;margin-top: 10px;font-size: 12px;list-style: inherit;}
.XQ_baozheng li{float: left;margin: 0 10px;}


/***  加    入    购    物    车    下    边    一    组    图    片   ***/
#XQ_li{ width: 100%; height:220px ; font-size: 10px;}
#XQ_li ul{ width: 900px; height: 200px; margin: 0 auto; margin-top: 20px;}
#XQ_li ul li{ width: 120px; height: 200px; float: left; margin-right: 15px;}
#XQ_li ul li p:hover{color: deeppink;}
#XQ_li ul li img{width: 120px; height: 120px; border: 1px solid #CCCCCC; padding: 9px;}
#XQ_li ul li span{color: red;}

/*******************  左   （   看   了   又   看   ）************************/
.XQ_xqbox{width: 100%;min-height:500px;margin-top: 10px;clear: both;}
.XQ_xq{width: 1000px; margin: 0 auto;}
.XQ_xq .XQ_xql{ width: 200px; float: left; border: 1px solid #ccc ; }
.XQ_xq .XQ_xql .p{height: 50px; width:200px ; font-size: 18px; color: deeppink; }
.XQ_xq .XQ_xql ul{ width:200px ;}
.XQ_xq .XQ_xql ul li{height: 100px; width:200px ; border-bottom: 1px solid #E1EDF7; padding-top: 10px; margin: 0 auto;}
.XQ_xq .XQ_xql .l_p p{font-size: 10px;}
.XQ_xq .XQ_xql .l_p{width: 120px;float: left; margin: -80px 0 0 80px;}
.XQ_xq .XQ_xql ul li img{width: 80px; height: 80px;float: left;}
.XQ_xq .XQ_xql ul li span{color: red; float: left;font-size: 10px; margin-top: 10px;}

/***************  右  （  吸顶、详情  ）      *********************/
.XQ_xq .XQ_xqr{height: #ccc; width: 770px; margin-left: 20px;height: auto; float: left;position: relative;}

/** 吸    顶    菜    单**/
.XQ_xq .XQ_xqr .r_xd{ width: 770px; height: 50px; background: deeppink;z-index: 100;}
.XQ_xq .XQ_xqr .r_xd ul{width: 770px; height: 50px;}
.XQ_xq .XQ_xqr .r_xd ul li{cursor: pointer; width: 150px; height: 50px; float: left; line-height: 50px;text-align: center; color: #fff;}
/*.XQ_xq .XQ_xqr .r_xd ul li:hover{background: #DC143C; color: white;}*/
.XQ_xq .XQ_xqr .r_xd ul li a{color: #fff;}
.XQ_xq .XQ_xqr .r_xd .spxq{ width: 100px;}
.XQ_xq .XQ_xqr .xq_pic{width: 770px;}

/* 高   亮  颜  色*/
.changeColor{background: #DC143C;}

/**  商  品  详  情   **/
.XQ_XQ{width: 770px; height: auto; border: 1px solid #DADADA; margin-top: 20px;clear: both;}
.xiangxi{width: 770px;/*height: 200px;*/}
.xiangxi ul{width: 770px;/*height: 180px;*/ margin-left: 10px; margin-top: 20px;}
.xiangxi ul li{width: 380px; height: 30px; float: left;}
.xiangxi ul li span{position: absolute;left: 80px;}
.xiangxi .ss{position: absolute;left: 460px;}
.xiangxi .up_down{ width:770px ; height;40px;color: #2191C0; cursor: pointer; margin-left: 10px; float: left;}/*收起*/

/**商  品  详  情   图   片**/
.XQ_xq .XQ_xqr .xq_pic ul li{ width: 770px; clear: both;}
.XQ_xq .XQ_xqr .xq_pic ul li img{ width: 760px; margin-left: 10px;}

/** 蜜    芽   圈   **/
.miyaquan{width:770px;min-height: 1000px; margin-top: 20px; background: #fff ;top:70px;left: 50px;display: none; border: 1px solid #ccc;}
/*.miyaquan img{width: 750px;}*/
.miyaquan ul{width:770px;}
.miyaquan ul p{width: 750px; line-height: 40px; margin: 0 auto; float: left; margin-left: 10px;}
.miyaquan .bg_start{width:100px ; height: 17px; display: block; background: url(../img/start.png); float: left; margin:10px 0 0 50px;}
.miyaquan .tuijian{width: 100px; height: 40px; margin: 0 auto;float: right;}
.miyaquan ul p span{color: deeppink; float: left;}
.miyaquan ul li{ clear:both;width:770px;  border: 1px solid #CCCCCC; }
.miyaquan ul li span{color: deeppink; margin: 0 10px; cursor: pointer;}
.miyaquan ul li p{ margin-left: 10px; line-height: 24px; text-indent: 28px;cursor: pointer;}
.miyaquan ul li div{margin:10px 0 10px 10px;cursor: pointer;}
.miyaquan .bg_start1{width:100px ; height: 17px; display: block; background: url(../img/start.png); float: right; margin:10px 10px 0 0px;}
.miyaquan .pl_pic img{width: 100px; height: 100px; margin: 10px 10px;}



/** 蜜    芽    优    势    **/
.miyayoushi{width:770px;min-height: 500px; margin-top: 20px; background: #fff ;top:70px;left: 50px;display: none;border: 1px solid #ccc;}

/** 问    题    咨    询    **/
.wentizixun{width:770px;min-height: 500px; margin-top: 20px; background: #fff ;top:70px;left: 50px;display: none;border: 1px solid #ccc;}
.wentizixun .question{ color: deeppink; font-size: 16px; margin-right: 10px;}
.wentizixun .anser{ color: #6495ED; font-size: 16px; margin-right: 10px;}
.wentizixun p{font-size: 14px;line-height: 24px; width: 750px; margin-left: 10px;}
.wentizixun h5{margin-left: 10px; color: deeppink;}



.bottom{clear: both;} /*若是不清除浮动 底部的ul则会浮动到上方图片右侧*/
#footer{clear: both;}

/***************  飞 入 购 物 车  **********************/
.m-sidebar{position: fixed;top: 0;right: 0;background: #000;z-index: 2000;width: 35px;height: 100%;font-size: 12px;color: #fff;}
.cart{color: #fff;text-align:center;line-height: 20px;padding: 200px 0 0 0px;}
.cart span{display:block;width:20px;margin:0 auto;}
.cart i{width:35px;height:35px;display:block; background:url(car.png) no-repeat;}
#msg{position:fixed; top:0px; right:200px; z-index:10000; width:1px; height:52px; line-height:52px; font-size:20px; text-align:center; color:#fff; background:deeppink; display:none}

.u-flyer{display: block;width: 50px;height: 50px;border-radius: 50px;position: fixed;z-index: 9999;}



